/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

main section a, footer a {
  position: relative;
  background: #FFF;
  color: #000;
}
main section a::before, footer a::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(to left, #f4f407, rgba(4, 102, 4, 0.8), #b00);
  content: "";
  display: block;
  mix-blend-mode: screen;
}

@-webkit-keyframes hamburgerIn {
  from {
    transform: translateX(300px);
    -webkit-transform: translateX(300px);
    -moz-transform: translateX(300px);
    -ms-transform: translateX(300px);
    -o-transform: translateX(300px);
  }
  to {
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
  }
}

@keyframes hamburgerIn {
  from {
    transform: translateX(300px);
    -webkit-transform: translateX(300px);
    -moz-transform: translateX(300px);
    -ms-transform: translateX(300px);
    -o-transform: translateX(300px);
  }
  to {
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
  }
}
@-webkit-keyframes hamburgerOut {
  from {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
  to {
    transform: translateX(300px);
    -webkit-transform: translateX(300px);
    -moz-transform: translateX(300px);
    -ms-transform: translateX(300px);
    -o-transform: translateX(300px);
  }
}
@keyframes hamburgerOut {
  from {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
  to {
    transform: translateX(300px);
    -webkit-transform: translateX(300px);
    -moz-transform: translateX(300px);
    -ms-transform: translateX(300px);
    -o-transform: translateX(300px);
  }
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes slideFromTop {
  from {
    transform: translateY(-50px);
    -webkit-transform: translateY(-50px);
    -moz-transform: translateY(-50px);
    -ms-transform: translateY(-50px);
    -o-transform: translateY(-50px);
  }
  to {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}
@keyframes slideFromTop {
  from {
    transform: translateY(-50px);
    -webkit-transform: translateY(-50px);
    -moz-transform: translateY(-50px);
    -ms-transform: translateY(-50px);
    -o-transform: translateY(-50px);
  }
  to {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}
@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
/**** MON CODE ****/
a {
  font-family: "Russo One";
}

p {
  font-family: "Playfair Display";
}

.artist-picture {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

header {
  background: linear-gradient(to left, #f4f407, rgba(4, 102, 4, 0.8), #b00);
}
@media screen and (min-width: 768px) {
  header {
    box-shadow: black 1px 1px 3px;
    z-index: 1;
    position: -webkit-sticky;
    position: sticky;
    top: -90px;
    z-index: 200;
  }
}
@media screen and (min-width: 768px) and (orientation: landscape) {
  header {
    top: -110px;
  }
}
@media screen and (min-width: 1025px) {
  header {
    top: -95px;
  }
}
header #sociaux {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 5px;
  right: 100px;
}
@media screen and (min-width: 736px) and (orientation: landscape) {
  header #sociaux {
    flex-direction: row;
    width: 15%;
    justify-content: space-between;
    top: 40px;
    right: 145px;
  }
}
@media screen and (min-width: 768px) {
  header #sociaux {
    flex-direction: row;
    width: 13%;
    justify-content: space-around;
    top: 100px;
    right: 12px;
  }
}
@media screen and (min-width: 1024px) and (orientation: landscape) {
  header #sociaux {
    width: 12%;
    top: 120px;
    right: 30px;
  }
}
@media screen and (min-width: 1025px) {
  header #sociaux {
    width: 8%;
    top: 100px;
    right: 80px;
  }
}
header #sociaux img {
  width: 1.3rem;
  height: 1.3rem;
}
@media screen and (min-width: 736px) and (orientation: landscape) {
  header #sociaux img {
    width: 2rem;
    height: 2rem;
  }
}
@media screen and (min-width: 768px) {
  header #sociaux img {
    width: 1.5rem;
    height: 1.5rem;
  }
}
@media screen and (min-width: 1024px) {
  header #sociaux img {
    width: 2rem;
    height: 2rem;
  }
}

#logo {
  position: relative;
  grid-column: 1/-1;
}
@media screen and (max-width: 767px) and (orientation: landscape) {
  #logo {
    justify-content: center;
  }
}
@media screen and (min-width: 768px) {
  #logo {
    justify-content: center;
  }
}
#logo a {
  display: flex;
  justify-content: start;
  color: #000;
  text-decoration: none;
}
@media screen and (min-width: 768px) {
  #logo a {
    justify-content: center;
  }
}
#logo img {
  width: 17%;
}
@media screen and (max-width: 767px) and (orientation: landscape) {
  #logo img {
    width: 15%;
  }
}
@media screen and (min-width: 768px) {
  #logo img {
    width: 10%;
  }
}
@media screen and (min-width: 1025px) {
  #logo img {
    width: 5%;
  }
}
#logo h2 {
  font-size: 1.5rem;
  align-self: center;
  font-family: "Monoton";
}
@media screen and (min-width: 768px) {
  #logo h2 {
    font-size: 3rem;
  }
}

nav {
  position: fixed;
  right: 13px;
  top: -11px;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  z-index: 200;
}
@media screen and (min-width: 768px) {
  nav {
    position: initial;
    padding: 0;
  }
}
nav #hamburger {
  align-self: flex-end;
}
@media screen and (min-width: 768px) {
  nav #hamburger {
    display: none;
  }
}
nav #hamburger input {
  position: absolute;
  width: 30px;
  height: 30px;
  opacity: 0;
  z-index: 2;
  top: 28px;
  right: 20px;
}
nav #hamburger span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #000;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  background: 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}
nav #hamburger span:first-child {
  transform-origin: 0% 0%;
}
nav #hamburger span:nth-last-child(2) {
  transform-origin: 0% 100%;
}
nav #hamburger input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-12px, -18px);
  background: #232323;
  -webkit-transform: rotate(45deg) translate(-12px, -18px);
  -moz-transform: rotate(45deg) translate(-12px, -18px);
  -ms-transform: rotate(45deg) translate(-12px, -18px);
  -o-transform: rotate(45deg) translate(-12px, -18px);
}
nav #hamburger input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
nav #hamburger input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(-1px, 8px);
  -webkit-transform: rotate(-45deg) translate(-1px, 8px);
  -moz-transform: rotate(-45deg) translate(-1px, 8px);
  -ms-transform: rotate(-45deg) translate(-1px, 8px);
  -o-transform: rotate(-45deg) translate(-1px, 8px);
}
nav ul {
  padding: 0 10px;
  visibility: hidden;
}
@media screen and (max-width: 767px) {
  nav ul {
    background: rgba(255, 255, 255, 0.6705882353);
  }
}
@media screen and (min-width: 768px) {
  nav ul {
    visibility: initial;
    display: flex;
    justify-content: center;
    width: 90%;
  }
}
@media screen and (min-width: 1025px) {
  nav ul {
    visibility: initial;
    display: flex;
    justify-content: center;
    width: initial;
  }
}
nav ul.animationIn {
  animation: hamburgerIn 0.5s alternate;
  -webkit-animation: hamburgerIn 0.5s alternate;
  visibility: visible;
}
nav ul.animationOut {
  animation: hamburgerOut 0.5s alternate;
  -webkit-animation: hamburgerOut 0.5s alternate;
  visibility: visible;
}
nav ul a {
  text-decoration: none;
  background: initial;
  color: initial;
}
nav ul a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
nav ul li {
  padding: 20px;
}

#searchBar {
  display: flex;
  justify-content: space-around;
  width: 75%;
  grid-row: 2;
  margin: auto;
}
@media screen and (min-width: 767px) {
  #searchBar {
    grid-row: 2;
    justify-self: center;
  }
}
@media screen and (min-width: 1025px) {
  #searchBar {
    grid-column: 1/-1;
    width: 30%;
  }
}
#searchBar form {
  display: flex;
  width: 100%;
  justify-content: inherit;
}
#searchBar form .search {
  width: 70%;
  border-radius: 10px;
  height: 28px;
}
#searchBar form #submit {
  border-radius: 7px;
  padding: 5px;
  color: white;
  background-color: rgba(0, 0, 0, 0.3411764706);
}

.pub {
  display: flex;
  justify-content: center;
  height: 200px;
}
@media screen and (min-width: 1025px) {
  .pub {
    position: fixed;
    top: 290px;
    width: 300px;
    height: 65vh;
  }
}

#pub1 {
  grid-row: 4;
  background: no-repeat url("../images/pub1mobiletablette.jpg");
  background-size: cover;
}
@media screen and (min-width: 768px) {
  #pub1 {
    grid-row: 4;
    background-position-y: -20px;
  }
}
@media screen and (min-width: 1024px) and (orientation: landscape) {
  #pub1 {
    grid-row: 5;
    background-position-x: center;
    background-position-y: -23px;
    background-size: 80%;
  }
}
@media screen and (min-width: 1025px) {
  #pub1 {
    background: no-repeat url("../images/pub1desktop.jpg");
    background-size: contain;
    left: 5px;
  }
}

#pub2 {
  grid-row: 8;
  background: no-repeat url("../images/pub2mobiletablette.jpg");
  background-size: cover;
  background-position: center;
}
@media screen and (min-width: 768px) {
  #pub2 {
    grid-row: -2;
  }
}
@media screen and (min-width: 1024px) and (orientation: landscape) {
  #pub2 {
    grid-row: -2;
    background-size: 80%;
  }
}
@media screen and (min-width: 1025px) {
  #pub2 {
    background: no-repeat url("../images/pub2desktop.jpg");
    background-size: contain;
    right: 5px;
  }
}

@media screen and (min-width: 768px) {
  footer {
    z-index: 1;
    position: relative;
    margin-top: 3rem;
  }
}
footer ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer ul a {
  padding: 5px;
}

.modal {
  position: fixed;
  display: none;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000;
  animation: fadeIn 0.3s both;
  -webkit-animation: fadeIn 0.3s both;
}
.modal.appear {
  display: flex;
}
.modal span {
  position: absolute;
  right: 15px;
  font-size: 3rem;
  font-weight: bold;
  cursor: pointer;
}
.modal .modal-body {
  overflow: auto;
  width: 600px;
  max-width: calc(100vw - 20px);
  max-height: calc(100vh - 20px);
  padding: 20px;
  background-color: #FFF;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.modal .modal-body .form-group {
  display: flex;
  flex-direction: column;
}
.modal .modal-body .form-group label {
  padding: 20px 0;
  font-family: "Roboto Slab";
}
.modal .modal-body .form-group input {
  width: 40%;
  height: 20px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.modal .modal-body .form-group input:focus {
  box-shadow: 0 0 3px rgb(27, 114, 255);
}
.modal .modal-body button {
  padding: 10px;
  border-radius: 5px;
  margin-top: 2rem;
  font-size: 0.75rem;
}
.modal .js-modal-stop {
  animation: slideFromTop 0.5s both;
  -webkit-animation: slideFromTop 0.5s both;
}

.modal[aria-hidden=true] {
  -webkit-animation-name: fadeOut;
          animation-name: fadeOut;
}/*# sourceMappingURL=style-base.css.map */