@import "style-base";



main {
    display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(10, auto);
    gap: 20px;
    
	@media screen and (min-width: 1025px) {
        display: grid;
        grid-template-columns: 5px 300px repeat(27, 1fr) 300px 5px;
		grid-template-rows: repeat(8, auto);
	}
}

p {
    padding: 20px 30px;
    text-align: justify;
    line-height: 20px;
}


// SECTION
section {
    display: grid;
    grid-template-columns: 1fr;
    gap: 140px;
    grid-row: 6;
    @media screen and(min-width: 768px) {
        grid-row: 7;
    }
    @media screen and(min-width: 1025px) {
        grid-column: 4/29;
    }
    h2 {
        grid-column: 1/-1;
        font-size: 2rem;
    }
}

// ARTICLE
article {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and(max-width: 767px) and (orientation: landscape) {
        display: grid;
        grid-template-columns: 30px auto 1fr 30px;
    }
    @media screen and (min-width: 768px) {
        display: grid;
        grid-template-columns: 30px auto 1fr 30px;
        grid-column: 1/-1;
    }
    @media screen and(min-width: 1025px) {
        grid-template-columns: 10rem auto 1fr 10rem;
    }
    .artist-picture, img {
        width: 15rem;
        height: 15rem;
        @media screen and(max-width: 767px) and (orientation: landscape) {
            grid-column: 2;
            grid-row: 1/2;
            align-self: baseline;
        }
        @media screen and(min-width: 768px) {
            grid-column: 2;
            grid-row: 1/2;
            align-self: baseline;
        }
    }
    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: $fontLink;
        @media screen and(max-width: 767px) and (orientation: landscape) {
            align-items: initial;
            grid-column: 3;
        }
        @media screen and(min-width: 768px) {
            align-items: start;
            grid-column: 3;
        }
        h2 {
            padding: 10px 25px;
            font-size: 1.7rem;

            @media screen and(min-width: 768px) {
                grid-column: 2;
                grid-row: 1/2;
                align-self: baseline;
                text-align: start;
            }
        }
        span {
            padding: 10px 25px;
            font-size: 1.1rem;
            a{
                text-decoration: none;
                &::before{
                    color: black;
                }
            }
        }
    }
}

// ASIDE
aside {
    display: grid;
    align-items: center;
    gap: 35px;
    margin: 0 0.5rem;
    @media screen and(max-width: 767px) and (orientation: landscape) {
        grid-template-columns: repeat(2, 1fr);
        grid-column: 1/-1;
    }
    @media screen and(min-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
        align-self: baseline;
    }
    @media screen and(min-width: 1025px) {
        grid-template-columns: repeat(3, 1fr);
    }
    h2{
        text-align: center;
        grid-column: 1/-1;
    }
    div {
        grid-column: 1/-1;
        display: flex;
        @media screen and(max-width: 767px) and (orientation: landscape) {
            grid-column: initial;
        }
        @media screen and(min-width: 767px) {
            grid-column: initial;
            align-items: center;
            flex-direction: column;
        }
        img {
            width: 5rem;
            height: 5rem;
            @media screen and(min-width: 767px) {
                width: 8rem;
                height: 8rem;
            }
        }
        h3 {
            text-align: center;
            padding: 20px 5px;
            font-size: 1rem;
        }
    }
    iframe{
        grid-column : 1/-1;
    }
}
#schedule{
    grid-column: 2/4;
    grid-row: 5;
}
#adress{
    grid-column: 1/-1;
}

// SPECIFIQUE A EVENT
#detailEvent{
        grid-template-columns: 10rem repeat(2,1fr) 10rem;
        grid-auto-rows: auto;
        gap: 40px 0;
        @media screen and(max-width: 767px) and (orientation: landscape) {
            gap: 15px 0;
        }
        @media screen and(min-width: 1025px){
            gap: 10px 0;
        }
    
    img{
        width: 100%;
        height: initial;
        @media screen and (min-width:768px){
            grid-column: 2/4;
            width: 40rem;
            justify-self: center;
        }
    }
    p{
        padding: 20px 25px;
        grid-column: 2/4;
        grid-row: 4;
        @media screen and(max-width: 767px) and (orientation: landscape) {
            padding: initial;
        }
    }
}
.leaflet-control{
    display: initial;
    a::before{
        background: initial;
    }
    p{
        padding: initial;
    }
}
#mapid { 
    height: 400px;
    grid-column: 1/-1;
    @media screen  and (min-width: 1025px) {
        grid-column: 1/4;
    }
}
// SPECIFIQUE MUSIQUE
#detailMusic{
    gap: 10px;
    img{
        justify-self: center;
    }
    audio{
        grid-row: 2;
        grid-column: 2;
        border-radius: 25px;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        -ms-border-radius: 25px;
        -o-border-radius: 25px;
    }
}