/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

main a, footer a {
  position: relative;
  background: #FFF;
  color: #000;
}

main a::before, footer a::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: -webkit-gradient(linear, right top, left top, from(#f4f407), color-stop(#046604cc), to(#b00));
  background: linear-gradient(to left, #f4f407, #046604cc, #b00);
  content: '';
  display: block;
  mix-blend-mode: screen;
}

/**** MON CODE ****/
a {
  font-family: "Russo One";
}

p {
  font-family: "Playfair Display";
}

.artist-picture {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

header {
  background: -webkit-gradient(linear, right top, left top, from(#f4f407), color-stop(#046604cc), to(#b00));
  background: linear-gradient(to left, #f4f407, #046604cc, #b00);
}

@media screen and (min-width: 768px) {
  header {
    -webkit-box-shadow: black 1px 1px 3px;
            box-shadow: black 1px 1px 3px;
    z-index: 1;
    position: -webkit-sticky;
    position: sticky;
    top: -90px;
    z-index: 200;
  }
}

@media screen and (min-width: 768px) and (orientation: landscape) {
  header {
    top: -110px;
  }
}

@media screen and (min-width: 1025px) {
  header {
    top: -101px;
  }
}

#logo {
  position: relative;
  grid-column: 1/-1;
}

@media screen and (max-width: 767px) and (orientation: landscape) {
  #logo {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  #logo {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

#logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  color: #000;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  #logo a {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

#logo img {
  width: 17%;
}

@media screen and (max-width: 767px) and (orientation: landscape) {
  #logo img {
    width: 15%;
  }
}

@media screen and (min-width: 768px) {
  #logo img {
    width: 10%;
  }
}

@media screen and (min-width: 1025px) {
  #logo img {
    width: 5%;
  }
}

#logo h2 {
  font-size: 1.5rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-family: "Monoton";
}

@media screen and (min-width: 768px) {
  #logo h2 {
    font-size: 3rem;
  }
}

nav {
  position: fixed;
  right: 13px;
  top: -11px;
  padding: 40px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 200;
}

@media screen and (min-width: 768px) {
  nav {
    position: initial;
    padding: 0;
  }
}

nav #hamburger {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

@media screen and (min-width: 768px) {
  nav #hamburger {
    display: none;
  }
}

nav #hamburger input {
  position: absolute;
  width: 30px;
  height: 30px;
  opacity: 0;
  z-index: 2;
  top: 28px;
  right: 20px;
}

nav #hamburger span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #000;
  border-radius: 3px;
  z-index: 1;
  -webkit-transform-origin: 4px 0px;
          transform-origin: 4px 0px;
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  background: 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

nav #hamburger span:first-child {
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
}

nav #hamburger span:nth-last-child(2) {
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
}

nav #hamburger input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-12px, -18px);
  background: #232323;
  -webkit-transform: rotate(45deg) translate(-12px, -18px);
  -moz-transform: rotate(45deg) translate(-12px, -18px);
  -ms-transform: rotate(45deg) translate(-12px, -18px);
  -o-transform: rotate(45deg) translate(-12px, -18px);
}

nav #hamburger input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  -webkit-transform: rotate(0deg) scale(0.2, 0.2);
          transform: rotate(0deg) scale(0.2, 0.2);
}

nav #hamburger input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(-1px, 8px);
  -webkit-transform: rotate(-45deg) translate(-1px, 8px);
  -moz-transform: rotate(-45deg) translate(-1px, 8px);
  -ms-transform: rotate(-45deg) translate(-1px, 8px);
  -o-transform: rotate(-45deg) translate(-1px, 8px);
}

nav ul {
  padding: 0 10px;
  visibility: hidden;
}

@media screen and (max-width: 767px) {
  nav ul {
    background: #ffffffab;
  }
}

@media screen and (min-width: 768px) {
  nav ul {
    visibility: initial;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

nav ul.animationIn {
  animation: hamburgerIn 0.5s alternate;
  -webkit-animation: hamburgerIn 0.5s alternate;
  visibility: visible;
}

nav ul.animationOut {
  animation: hamburgerOut 0.5s alternate;
  -webkit-animation: hamburgerOut 0.5s alternate;
  visibility: visible;
}

nav ul a {
  text-decoration: none;
  background: initial;
  color: initial;
}

nav ul a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

nav ul li {
  padding: 20px;
}

#searchBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 75%;
  -ms-grid-row: 2;
  grid-row: 2;
  margin: auto;
}

@media screen and (min-width: 767px) {
  #searchBar {
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

@media screen and (min-width: 1025px) {
  #searchBar {
    grid-column: 1/-1;
    width: 30%;
  }
}

#searchBar form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: inherit;
      -ms-flex-pack: inherit;
          justify-content: inherit;
}

#searchBar form .search {
  width: 70%;
  border-radius: 10px;
  height: 28px;
}

#searchBar form #submit {
  border-radius: 7px;
  padding: 5px;
  color: white;
  background-color: #00000057;
}

@media screen and (min-width: 1025px) {
  .pub {
    position: fixed;
    top: 248px;
  }
  .pub img {
    width: 300px;
    height: 65vh;
  }
}

#pub1 {
  -ms-grid-row: 4;
  grid-row: 4;
}

@media screen and (min-width: 768px) {
  #pub1 {
    -ms-grid-row: 4;
    grid-row: 4;
  }
}

@media screen and (min-width: 1024px) and (orientation: landscape) {
  #pub1 {
    -ms-grid-row: 5;
    grid-row: 5;
  }
}

@media screen and (min-width: 1025px) {
  #pub1 {
    left: 23px;
  }
}

#pub2 {
  -ms-grid-row: 8;
  grid-row: 8;
}

@media screen and (min-width: 768px) {
  #pub2 {
    grid-row: -2;
  }
}

@media screen and (min-width: 1024px) and (orientation: landscape) {
  #pub2 {
    grid-row: -2;
  }
}

@media screen and (min-width: 1025px) {
  #pub2 {
    right: 23px;
  }
}

@media screen and (min-width: 768px) {
  footer {
    z-index: 1;
    position: relative;
    margin-top: 3rem;
  }
}

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer ul a {
  padding: 5px;
}

.modal {
  position: fixed;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000;
  animation: fadeIn .3s both;
  -webkit-animation: fadeIn .3s both;
}

.modal.appear {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal span {
  position: absolute;
  right: 15px;
  font-size: 3rem;
  font-weight: bold;
  cursor: pointer;
}

.modal .modal-body {
  overflow: auto;
  width: 600px;
  max-width: calc(100vw - 20px);
  max-height: calc(100vh - 20px);
  padding: 20px;
  background-color: #FFF;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.modal .modal-body .form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal .modal-body .form-group label {
  padding: 20px 0;
  font-family: "Roboto Slab";
}

.modal .modal-body .form-group input {
  width: 40%;
  height: 20px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.modal .modal-body .form-group input:focus {
  -webkit-box-shadow: 0 0 3px #1b72ff;
          box-shadow: 0 0 3px #1b72ff;
}

.modal .modal-body button {
  padding: 10px;
  border-radius: 5px;
  margin-top: 2rem;
  font-size: 0.75rem;
}

.modal .js-modal-stop {
  animation: slideFromTop .5s both;
  -webkit-animation: slideFromTop .5s both;
}

.modal[aria-hidden="true"] {
  -webkit-animation-name: fadeOut;
          animation-name: fadeOut;
}

#mentions {
  max-width: 90%;
}

@media screen and (min-width: 1025px) {
  #mentions {
    max-width: 55%;
    margin: auto;
    margin-top: auto;
    margin-top: 5rem;
  }
}

@-webkit-keyframes hamburgerIn {
  from {
    transform: translateX(300px);
    -webkit-transform: translateX(300px);
    -moz-transform: translateX(300px);
    -ms-transform: translateX(300px);
    -o-transform: translateX(300px);
  }
  to {
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
  }
}

@keyframes hamburgerIn {
  from {
    transform: translateX(300px);
    -webkit-transform: translateX(300px);
    -moz-transform: translateX(300px);
    -ms-transform: translateX(300px);
    -o-transform: translateX(300px);
  }
  to {
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
  }
}

@-webkit-keyframes hamburgerOut {
  from {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
  to {
    transform: translateX(300px);
    -webkit-transform: translateX(300px);
    -moz-transform: translateX(300px);
    -ms-transform: translateX(300px);
    -o-transform: translateX(300px);
  }
}

@keyframes hamburgerOut {
  from {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
  to {
    transform: translateX(300px);
    -webkit-transform: translateX(300px);
    -moz-transform: translateX(300px);
    -ms-transform: translateX(300px);
    -o-transform: translateX(300px);
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes slideFromTop {
  from {
    transform: translateY(-50px);
    -webkit-transform: translateY(-50px);
    -moz-transform: translateY(-50px);
    -ms-transform: translateY(-50px);
    -o-transform: translateY(-50px);
  }
  to {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}

@keyframes slideFromTop {
  from {
    transform: translateY(-50px);
    -webkit-transform: translateY(-50px);
    -moz-transform: translateY(-50px);
    -ms-transform: translateY(-50px);
    -o-transform: translateY(-50px);
  }
  to {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: (auto)[10];
      grid-template-rows: repeat(10, auto);
  gap: 20px;
}

@media screen and (min-width: 1025px) {
  main {
    -ms-grid-columns: 5px 300px (1fr)[27] 300px 5px;
        grid-template-columns: 5px 300px repeat(27, 1fr) 300px 5px;
    -ms-grid-rows: (auto)[8];
        grid-template-rows: repeat(8, auto);
  }
}

section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 40px;
  -ms-grid-row: 5;
  grid-row: 5;
  position: relative;
}

@media screen and (max-width: 767px) and (orientation: landscape) {
  section {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 768px) {
  section {
    -ms-grid-row: 6;
    grid-row: 6;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) and (orientation: landscape) {
  section {
    -ms-grid-row: 6;
    grid-row: 6;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1025px) {
  section {
    -ms-grid-column: 4;
    -ms-grid-column-span: 25;
    grid-column: 4/29;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-row: 6;
    grid-row: 6;
  }
}

section h2 {
  grid-column: 1/-1;
  text-align: center;
  font-size: 2.5rem;
}

article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

article h3 {
  padding: 10px;
  font-size: 1.3rem;
}

article img {
  width: 12rem;
  height: 12rem;
}

.controls {
  position: absolute;
  top: 52px !important;
  right: 56px !important;
}

input[type=range].custom-slider {
  top: 60px !important;
  right: -40px !important;
}
/*# sourceMappingURL=style-list.css.map */