
// FONT
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

$fontTitleSite: 'Monoton';
$fontLink: 'Russo One';
$font3: 'Roboto Slab';
$fontP: 'Playfair Display';


// COLOR
$color : linear-gradient(to left, #dfdf00,#046604, #b00);
$bannerColor : linear-gradient(to left, #f4f407, #046604cc, #b00);

// PLACE HOLDER
%fontColor{
	position: relative;
	background: #FFF;
	color: #000;
	&::before{
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: $bannerColor;
		content: '';
		display: block;
		mix-blend-mode: screen;
	}
}

// MIXIN
@mixin pub ($background, $backgroundSize) {
    background: $background;
    background-size: $backgroundSize;
}


// KEYFRAMES
@keyframes hamburgerIn {
	from {
		transform: translateX(300px);
		-webkit-transform: translateX(300px);
		-moz-transform: translateX(300px);
		-ms-transform: translateX(300px);
		-o-transform: translateX(300px);
	}
	to {
		transform: translateX(0px);
		-webkit-transform: translateX(0px);
		-moz-transform: translateX(0px);
		-ms-transform: translateX(0px);
		-o-transform: translateX(0px);
	}
}
@keyframes hamburgerOut {
	from {
		transform: translateX(0);
		-webkit-transform: translateX(0);
		-moz-transform: translateX(0);
		-ms-transform: translateX(0);
		-o-transform: translateX(0);
	}
	to {
		transform: translateX(300px);
		-webkit-transform: translateX(300px);
		-moz-transform: translateX(300px);
		-ms-transform: translateX(300px);
		-o-transform: translateX(300px);
	}
}
@keyframes fadeIn{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}
@keyframes slideFromTop{
	from{
		transform: translateY(-50px);
		-webkit-transform: translateY(-50px);
		-moz-transform: translateY(-50px);
		-ms-transform: translateY(-50px);
		-o-transform: translateY(-50px);
	}
	to{
		transform: translateY(0);
		-webkit-transform: translateY(0);
		-moz-transform: translateY(0);
		-ms-transform: translateY(0);
		-o-transform: translateY(0);
	}
}
@keyframes fadeOut{
	from{
		opacity: 1;
	}
	to{
		opacity: 0;
	}
}
