{% extends 'admin.html.twig' %}

{% block title %}- Tableau de Bord
{% endblock %}

{% block body %}
	<main class="container-fluid mt-5">
		<div class="row">
		{# Action rapides #}
			<nav class="navbar navbar-expand-lg navbar-light justify-content-center align-items-start col-sm-2">
				<div class="navbar-nav flex-column bg-primary rounded p-3">
					<h4>Ajouter du contenu</h4>
					<a class="nav-link" href="#">Ajouter un artiste</a>
					<a class="nav-link" href="#">Ajouter une musique</a>
					<a class="nav-link" href="#">Ajouter un événement</a>
					<a class="nav-link" href="#">Ajouter une catégories</a>
				</div>
			</nav>
		{# Derniers artistes ajoutés  #}
			<div class="col-sm-5">
				<h4>Les derniers Artistes ajoutés</h4>
				<table class="table">
					<thead>
						<tr>
							<th scope="col" class="auto">Image</th>
							<th scope="col">Nom</th>
							<th scope="col">Prénom</th>
							<th scope="col">Pseudo</th>
							<th scope="col">Actions</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><img src="" alt="" class="card-img" style="width:10rem; height: 10rem;"></td>
							<td>Bon
							<td>Jean</td>
							<td>JamBon le charcutier</td>
							<td class="d-flex flex-column">
								<a href="#" class="btn btn-primary btn-sm">Editer</a>
								<a href="#" data-toggle="modal" data-target="#delete" data-id="" class="btn btn-primary btn-sm mt-2">Supprimer</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		{# Derniers events ajoutés #}
			<div class="col-sm-5">
				<h4>Les derniers Evènements ajoutés</h4>
				<table class="table">
					<thead>
						<tr>
							<th scope="col" class="auto">Image</th>
							<th scope="col">Titre</th>
							<th scope="col">Description</th>
							<th scope="col">Actions</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><img src="" alt="" class="card-img" style="width:10rem; height: 10rem;"></td>
							<td>SUMMER FIESTA</td>
							<td>Hey ! Nous sommes fière de vous présenter la première...</td>
							<td class="d-flex flex-column">
								<a href="#" class="btn btn-primary btn-sm">Editer</a>
								<a href="#" data-toggle="modal" data-target="#delete" data-id="" class="btn btn-primary btn-sm mt-2">Supprimer</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="row mt-5">
		{# Dernières musiques #}
			<div class="offset-sm-2 col-10">
				<h4>Les dernieres Musiques ajoutées</h4>
				<table class="table">
					<thead>
						<tr>
							<th scope="col" class="auto">Image</th>
							<th scope="col">Titre</th>
							<th scope="col">La Chanson</th>
							<th scope="col">Variété</th>
							<th scope="col">Artiste</th>
							<th scope="col">Description</th>
							<th scope="col">Actions</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><img src="" alt="" class="card-img" style="width:10rem; height: 10rem;"></td>
							<td>Invicible</td>
							<td>
								<audio controls src="" style="border-radius:20px"></audio>
							</td>
							<td>Zouk</td>
							<td>JamBon</td>
							<td>Quoi de mieux que d'écouter cette musique pour nous rappeller le bon vieux temps sur notre MMO favori ! Replonger vous dans la conquête...</td>
							<td class="d-flex flex-column">
								<a href="" class="btn btn-primary btn-sm">Supprimer</a>
								<a href="" class="btn btn-primary btn-sm mt-2">Editer</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</main>
{% endblock %}
