{% extends 'layout.html.twig' %}

{% block title %}Nos Artistes{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/style-list.css') }}">
{% endblock %}

{% block main %}
<section>
    {% for artist in allArtists %}
    <article>
        <div class="artist-picture" style="background: url({{ asset('upload/artistPictures/'~ artist.picture) }}) center/cover"></div>
        <h3><a href="{{ path('detail_artist', {id:artist.id}) }}">{{ artist.nickname }}</a></h3>
    </article>
    {% endfor %}
</section>
{% endblock %}
