{% extends 'layout.html.twig' %}

{% block title %}Nos Événements{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset ('css/style-list.css') }}">
{% endblock %}

{% block main %}
<section>
    <article>
        <img src="images/mario.jpg" alt="">
        <h3><a href="">Titre de l'événements'</a></h3>
    </article>
    <article>
        <img src="images/mario.jpg" alt="">
        <h3><a href="">Titre de l'événements'</a></h3>
    </article>
    <article>
        <img src="images/mario.jpg" alt="">
        <h3><a href="">Titre de l'événements'</a></h3>
    </article>
    <article>
        <img src="images/mario.jpg" alt="">
        <h3><a href="">Titre de l'événements'</a></h3>
    </article>
    <article>
        <img src="images/mario.jpg" alt="">
        <h3><a href="">Titre de l'événements'</a></h3>
    </article>
    <article>
        <img src="images/mario.jpg" alt="">
        <h3><a href="">Titre de l'événements'</a></h3>
    </article>
    <article>
        <img src="images/mario.jpg" alt="">
        <h3><a href="">Titre de l'événements'</a></h3>
    </article>
    <article>
        <img src="images/mario.jpg" alt="">
        <h3><a href="">Titre de l'événements'</a></h3>
    </article>
    <article>
        <img src="images/mario.jpg" alt="">
        <h3><a href="">Titre de l'événements'</a></h3>
    </article>
</section>
{% endblock %}
